<div class='container text-center align-middle'>
	<div class='row'>
		<div class='col'>
			<button class='btn btn-warning'><a href='/grades'>Grades</a></button>
		</div>

		<div class='col'>
			<button class='btn btn-warning'><a
					href='/subjects'
				>Subjects</a></button>
		</div>
	</div>
</div>